.App {
  text-align: center;
}

.btn-elevate {
  box-shadow: 0 4px 16px 0 rgba(93, 120, 255, 0.15);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn-elevate:hover {
  box-shadow: 0 9px 16px 0 rgba(93, 120, 255, 0.25) !important;
  transform: translate(0, -4px);
}
